.background {
	position: fixed;
	z-index: 25;
	background-color: rgba(0, 0, 0, 0.3);
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.addoffer-container {
	background-color: white;
	position: fixed;
	width: 85vw;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 1.5em;
	overflow: scroll;
	z-index: 30;
	border-radius: 5px;
}

.header {
	margin: -1.5em -1.5em 0 -1.5em;
	padding: 0.7em;
	margin-bottom: 2em;
	background-color: antiquewhite;
}

#title-field {
	border: none;
	border-bottom: 1px solid;
	text-align: center;
	margin-bottom: 2em;
}

#description-field {
	width: 100%;
	padding: 0.5em;
	font-size: 0.8em;
	margin-bottom: 2em;
}

.level-container,
.duration-container {
	width: 100%;
	margin-bottom: 2rem;
}

.slider {
	-webkit-appearance: none;
	width: 90%;
	height: 0.5rem;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 50%;
	background: #4caf50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 1.4rem;
	height: 1.4rem;
	border-radius: 50%;
	background: #4caf50;
	cursor: pointer;
}

#cost-field {
	border: none;
	border-bottom: 1px solid black;
	text-align: center;
	width: 40%;
	margin-bottom: 2em;
}

#submit-button {
	display: block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: white;
	border: 1px solid grey;
	border-radius: 15px;
	padding: 0.5em;
	width: 40%;
}
