.background {
	position: fixed;
	z-index: 25;
	background-color: rgba(0, 0, 0, 0.3);
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.addoffer-container {
	background-color: white;
	position: absolute;
	width: 80vw;
	height: 80vh;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 1.5em;
	overflow: scroll;
}

.header {
	margin: -1.5em -1.5em 0 -1.5em;
	padding: 0.7em;
	margin-bottom: 2em;
	background-color: antiquewhite;
}

#title-field {
	border: none;
	border-bottom: 1px solid;
	text-align: center;
	margin-bottom: 2em;
}

#description-field {
	width: 100%;
	padding: 0.5em;
	font-size: 0.8em;
	margin-bottom: 2em;
}

#type-dropdown {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin-bottom: 2em;
	font-size: 0.8em;
	width: 80%;
	padding: 5px;
}

#input-duration {
	width: 70%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, 1fr);
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	padding-bottom: 2em;
}

#label-duration {
	grid-row: 1;
	grid-column: 1/11;
}

#label-duration,
#duration-minus,
#duration-plus {
	justify-self: center;
	align-self: center;
}

#duration-minus,
#duration-value,
#duration-plus {
	grid-row: 2;
}

#duration-minus,
#duration-plus {
	border: 1px solid grey;
	background-color: white;
	border-radius: 50%;
	width: 2em;
	height: 2em;
	vertical-align: middle;
	padding: 0;
}

#duration-minus {
	grid-column: 1/3;
}

#duration-value {
	grid-column: 3/5;
}

#duration-plus {
	grid-column: 5/7;
}

#cost-field {
	border: none;
	border-bottom: 1px solid black;
	text-align: center;
	width: 40%;
	margin-bottom: 2em;
}

#submit-button {
	display: block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: white;
	border: 1px solid grey;
	border-radius: 15px;
	padding: 0.5em;
	width: 40%;
}
