.cards-container,
.add-offer-container {
	position: relative;
	top: 10vh;
	height: 90vh;
	width: 100vw;
	left: 50%;
	transform: translateX(-50%);
}

#add-button {
	position: fixed;
	bottom: 3em;
	right: 2em;
	width: auto;
	height: 4em;
	border-radius: 50%;
	z-index: 15;
	background-color: white;
}
